.basket_open {
  max-width: 410px;
  width: 100%;
  border-left: 1px solid #CFCFCF;
  transition: all 0.3s ease-in-out;
}

.basket_close {
  width: 0;
}

.basket_sticky {
  position: sticky;
  right: 0;
  top: 0;
  height: fit-content;
}

.basket__overflow {
  overflow-y: scroll;
}

.basket__items {
  background-color: #FFFFFF;
  padding: 40px;
  height: 240px;
  h1 {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    background-color: #FFFFFF;
    z-index: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  border-bottom: 1px solid #CFCFCF;
}

.basket__price {
  background-color: #FFFFFF;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
}

.basket__price_totalPrice {
  p {
    font-weight: 700;
    font-size: 21px;
    line-height: 34px;
  }
}

//
@media screen and (max-width: 768px) {
  .basket_open {
    position: fixed;
    top: 81px;
    right: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    z-index: 100;
    border-left: none;
    transition: all 0.3s ease-in-out;
  }


  .basket_sticky {
    height: 100%;
  }

  .basket__items {
    padding: 20px;
    h1 {
      top: -20px;
      padding: 5px 0;
    }
  }

  .basket__price {
    padding: 20px 20px 100vh 20px;
  }
}

@media screen and (min-width: 768px) {
  .basket_open {
    width: 100%;
    border-left: 1px solid #CFCFCF;
    transition: all 0.3s ease-in-out;
  }
}