.card {
  padding: 15px;
  width: 250px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
  border-radius: 3px;

  img {
    width: 100%;
    margin-bottom: 41px;
  }

  h1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    max-width: 165px;
    margin-bottom: 13px;
    color: #000000;
    text-decoration: none;
  }
}

.card__interactions {
  align-items: center;
  display: flex;
  gap: 15px;

  button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: #3366FF;
    border-radius: 3px;
    border: none;
    svg {
      path {
        fill: #FFFFFF;
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}