.product {
  display: flex;
  margin: 60px auto;
}

.product__desc {
  button {
    background: #3366FF;
    border-radius: 3px;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0 5px 0;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 20px 0;
  }

  .product__backBtn {
    padding: 8px 30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.product__addToCart {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: #3366FF;
  border-radius: 3px;
  border: none;
  svg {
    path {
      fill: #FFFFFF;
    }
  }
}

.product__image {
  min-width: 890px;

  img {
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    width: 100%;
  }
}

.product__buy {
  display: flex;
  gap: 15px;
  align-items: center;

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }
}

//
@media screen and (max-width: 1335px) {
  .product {
    padding: 0 30px;
  }
  .product__image {
    min-width: auto;
    width: 100%;

    img {
      border: 1px solid #D5D5D5;
      box-sizing: border-box;
      width: 100%;
    }
  }
}

@media screen and (min-width: 1335px) {
  .product {
    padding: 0 30px;
  }
  .product__image {
    width: 100%;

    img {
      border: 1px solid #D5D5D5;
      box-sizing: border-box;
      width: 100%;
    }
  }
}